.reviews h2{
    margin-top: 213px;
    margin-left: 534px;
    font-size: 36px;
    color: #5D2149;
}

.flowers_img{
    display: flex;
    gap: 86px;
    margin-left: 34px;
}
.img_pion{
    margin-top: 109px;
}
.reviews-section {
background-color: #f9e0e0; 
padding: 40px 20px;
text-align: center;
font-family: Arial, sans-serif;
}

.reviews-section h2 {
margin-bottom: 30px;
font-size: 24px;
color: #5D2149;
}


.reviews-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-top: 35px;
}

.review-card {
background-color: #fff;
padding: 20px;
max-width: 300px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
transition: transform 0.3s, box-shadow 0.3s;
}

.review-card:hover {
transform: translateY(-5px);
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.review-card h3 {
margin-bottom: 15px;
font-size: 20px;
color: #5D2149;
}

.review-card p {
font-size: 14px;
color: #333;
line-height: 1.5;
}

@media (max-width: 1400px) {
  .reviews h2 {
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .reviews h2 {
    font-size: 22px;
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .reviews h2 {
    font-size: 16px;
    margin-top: 5px;
  }
}
