.footer-section {
background-color: #C19292;
padding: 20px 10px;
font-family: Arial, sans-serif;
}

.footer-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
max-width: 956px;
margin: 0 auto;
}
.footer-item {
margin: 10px;
}

.footer-item h4 {
margin-bottom: 10px;
color: #fff;
font-size: 16px;
}

.footer-item ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer-item ul li {
margin-bottom: 8px;
font-size: 14px;
color: #fff;
}

.contact p {
margin: 5px 0;
font-size: 14px;
color: #fff;
}

/* Мобильная адаптация */
@media(max-width: 768px) {
.footer-container {
    flex-direction: column;
    align-items: center;
}

.footer-item {
    max-width: 100%;
    text-align: center;
}
}